@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'highlight.js/styles/default.css';
@import 'tailwindcss/utilities';

html,body {
    scroll-behavior: smooth
}

#post h1 {
    @apply font-bold text-5xl mb-4;
}

#post h2 {
    @apply font-bold text-3xl mb-4;
}

#post h3 {
    @apply font-bold text-2xl mb-4;
}

#post p {
    @apply leading-relaxed text-lg;
}

#post ul, ol {
    @apply my-2;
}

#post ol {
    @apply list-decimal list-inside text-lg;
}

#post pre {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
    line-height: 1.75;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow-x: auto;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    font-size: 1rem;
}

code.hljs {
    background-color: transparent;
    padding: 0;
}

iframe {
    @apply mt-4;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #fefefe;
    background-color: rgb(254, 254, 254);
    color: #545454;
    padding: 0.5em;
}

#post pre + h1, h2, h3, p {
    @apply mt-4;
}

#post pre, p > img {
    border-radius: .25rem;
}

#post pre:not + blockquote {
    @apply leading-normal pb-6 pt-3;
}

#post blockquote {
    @apply border-l-4 border-niagara;
}

#post blockquote, .highlight {
    @apply bg-gray-200 p-6 my-6;
}

#post blockquote p {
    @apply mt-0;
}

#post figure {
    @apply my-6;
}

#post figure img {
    @apply shadow-lg w-full;
}

#post figcaption {
    @apply text-base p-4;
}

.animate-left {
    position: relative;
    color: #fff;
    text-decoration: none;
}

.animate-left:hover {
    color: #fff;
}

.animate-left::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
    will-change: width;
}

.animate-left:hover::before {
    transform: scaleX(1);
}
